:root {
  --font-large: 36px;
  --font-medium: 24px;
  --font-small: 16px;
  --font-micro: 8px;

  --color-white: white;
  --color-form-border: #ffecb3;
  --color-background: #455a64;
  --color-logout: #f50057;
  --color-complete-btn: #69f0ae;
  --color-exit-btn: #f50057;
  --color-scrollbar: white;
  --color-before-btn: #f4ff81;

  --annimation-duration: 300ms;
}

body {
  width: 100%;
  height: 100vmin;
  font-family: "Lexend Giga", sans-serif;
  color: var(--color-white);
  background-color: var(--color-background);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  margin-left: 8px;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
}

form {
  width: 500px;
  margin-bottom: 16px;
  transition: all var(--annimation-duration) ease-in-out;
}

input {
  width: 100%;
  border: 10px solid var(--color-form-border);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
}

form:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 8px;
}

/* bg */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

/* clock */

.js-time {
  font-size: var(--font-large);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.js-time__date,
.js-time__clock {
  margin: 0;
}

.js-time__clock {
  margin-bottom: 32px;
}

/* name */

.js-nameForm,
.js-greeting__text {
  display: none;
}

.js-greeting {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-medium);
  margin-bottom: 8px;
}

.js-greeting i {
  display: none;
}

.js-greeting i:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--color-logout);
}

.js-greeting__logout {
  display: none;
}

.js-greeting:hover .js-greeting__logout {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -28px;
  right: -86px;
  background-color: var(--color-background);
  font-size: var(--font-micro);
  border: 2px solid var(--color-white);
  border-radius: 8px;
  padding: 4px;
}

.js-greeting .show {
  display: block;
  margin-left: 16px;
  transition: all var(--annimation-duration) ease-in;
}

/* todo */

.js-toDoForm {
  display: none;
}

.show {
  display: block;
}

.toDoList {
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

.toDoList li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toDoList button {
  transition: all var(--annimation-duration) ease-out;
}

.toDoList button:hover {
  transform: scale(1.1);
}

#button__complete:hover {
  background-color: var(--color-complete-btn);
}

#button__exit:hover {
  background-color: var(--color-exit-btn);
}

#button__before:hover {
  background-color: var(--color-before-btn);
}

.toDoList__toDo,
.toDoList__complete {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 8px;
  background-color: var(--color-background);
  border: 2px solid var(--color-white);
  border-radius: 8px;
  max-height: 200px;
}

.toDoList__toDo {
  margin-right: 128px;
}

.toDoList__toDo__list,
.toDoList__complete__list {
  overflow-y: scroll;
  padding: 8px;
}

.toDoList__toDo span,
.toDoList__complete span {
  text-align: center;
  font-size: var(--font-small);
}

#buttonContainer {
  margin-left: 8px;
}

/* weather */

.js-weather {
  background-color: var(--color-background);
  border: 3px solid var(--color-white);
  border-radius: 8px;
  margin-left: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  transition: all var(--annimation-duration) ease-out;
}

.js-weather.visible {
  transform: translateY(30px);
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.toggleBtn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 48px;
  font-size: var(--font-medium);
  cursor: pointer;
}

.toggleBtn i {
  transition: all var(--annimation-duration) ease-in-out;
}

.toggleBtn:hover i {
  transform: scale(1.1) rotate(-45deg);
}

.toggleBtn span {
  display: none;
}

.toggleBtn:hover span {
  position: absolute;
  top: 24px;
  left: 6px;
  display: flex;
  width: 100%;
  justify-content: center;
  border: 2px solid var(--color-white);
  border-radius: 8px;
  background-color: var(--color-background);
  font-size: var(--font-micro);
}

@media screen and (max-width: 768px) {
  body {
    height: 100vh;
  }
  form {
    width: 400px;
  }

  button {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }

  .js-time {
    font-size: var(--font-medium);
  }

  .js-greeting {
    font-size: var(--font-small);
  }

  .js-countToDo {
    font-size: var(--font-micro);
  }

  .toDoList {
    flex-direction: column;
  }

  .toDoList__toDo,
  .toDoList__complete {
    max-height: 100px;
  }

  .toDoList__toDo__list span,
  .toDoList__complete span {
    font-size: var(--font-small);
  }

  .toggleBtn {
    font-size: var(--font-small);
  }
}
